@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

img{max-width:80%;}

.hide{
width:0; height:0;
font-size: 0; line-height: 0;
position:absolute;
visibility: hidden;
}

#box02{background-color: rgb(242,196,57); padding:80px 0;}
#box03{background-color: rgb(36, 36, 36); padding:80px 0;}
#box04{background-color: rgb(240, 214, 227); padding:80px 0;}
#box05{background-color: rgb(7,123,62); padding:80px 0;}

#box02>h3, #box03>h3,#box04>h3,#box05>h3{
    display:block;
    width: 250px;
    margin: 0 auto 70px;
    font: 30px/ 20px 'Gugi', cursive;
    text-align: center;
    color:#fff;
    padding:0 10px;
    letter-spacing: 10px;
    border-left:3px solid #fff;
    border-right:3px solid #fff;
}

#box02>div,#box03>div,#box04>div,#box05>div{
    width: 98%;
    margin:0 auto;
}

/* header */
header{
    padding:15px 0;
    background-color:rgba(230, 223, 146,0.7);
    /* 타블렛, 모바일 버튼 */
    position:fixed;
    z-index: 100;
    width: 100%;
}

/* header 버튼 */
#btn{
    width:20px;
    height:20px;
    position:absolute;
    left:18px;
    top:18px;
    display:none;
    }

nav{
    width:98%;/* 1440px; */
    margin:0 auto;}

nav>ul{
display:flex;
flex-wrap: wrap;}

nav>ul>li{
width: 20%;
text-align: center;}

nav>ul>li>a{
font-family:'Gugi', cursive;
color:#fff;
padding:7px;
letter-spacing: 3px;
}

nav>ul>li>a:hover{
border:3px solid #fff;
border-radius: 100%;
cursor: pointer;
}

nav .close{
position:absolute;
right:20px; top:20px;
width:15px; height:15px;
display:none;
}

/* #box01 */
#box01{
height:100vh;
position:relative;
background-size: cover;
opacity: 0.7;
}

#box01>div#center{
    width:100%;
    height:100%;
    margin:0 auto;
    position:relative;
    cursor: pointer;
}

p.prev{
    position:absolute;
    left: 5%; top:50%;
    font-size:30px;
    color:#fff;
    cursor: pointer;
}
p.next{
    position:absolute;
    right: 5%; top:50%;
    font-size:30px;
    color:#fff;
    cursor: pointer;
}

div#center>div.show{
    position:relative;
    width:100%;
    height: 100%;
    overflow: hidden;
}

div.gall{
   width:200%; height:100%;
   display: flex;
}

div.gall>ul{
    width:100%; height:100%;
    display:flex;
    flex-wrap: wrap;
}

div.gall>ul>li{
width:50%;
height:100%;
background:url('../images/olaf.jpg') no-repeat center top;
background-size: cover;
position:relative;
}

div.gall>ul>li.main02{
    background-image:url('../images/forest.jpg');
}

@keyframes left{
    from{left: -100px; opacity: 0;}
    to{left: 0px; opacity: 1;}
}

@keyframes right{
    from{right: -100px; opacity: 0;}
    to{right: 0px; opacity: 1;}
}

ul>li h2{
    color:#fff;
    position:absolute;
    padding-top: 220px;
    text-align: center;
    font:40px/ 60px 'Gugi', cursive;
    width: 100%;
}

ul>li>h2.mainmove{
    animation:left 1.4s ease-out forwards;
    width: 100%;
}

ul>li>p.main_des01{
    padding-top:380px;
    position: absolute;
    color: #fff;
    font:500 15px/20px'Noto Sans KR', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    animation:right 1.4s ease-out forwards;
    width: 100%;
}

li.main02>p.main_des02{
    color: #fff;
    font:bold 15px/20px'Noto Sans KR', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    margin-top:350px;
}

p.main_btn{
    text-align: center;}

p.main_btn>button{
    position: absolute;
    bottom:150px; left:46%;
    font-size: 18px;
    background-color: rgb(242,196,57);
    border:none;
    border-radius: 40%;
    width: 130px;
    color:#fff;
    padding:20px;
    font-family: 'Gugi', cursive;
}

/* box02 */
#box02>div.myinfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin:0 auto;
}

#box02>div.myinfo dl{
    display: flex;
    margin:20px 0;
}

#box02>div.myinfo dl>dt{
width:300px;
padding-left: 40px;
}

#box02>div.myinfo dl>dd{
    padding:0 20px;
    width: 100px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px;
}

#box02>div.myinfo dl>dd:last-child{
    font-weight: normal;}

/* box03 */
#box03>div.icon>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#box03>div.icon>ul>li{
    width: 50px;
    margin:0 30px;
    padding:10px;
    text-align: center;
    font-family: 'Gugi', cursive;
}

#box03>div.icon>ul>li>a{
    color:#fff;
    line-height: 40px;
    display: flex;
    justify-content: center;
}

div.makdae{
    width:100%;
    border:2px solid #fff;
    height:5px;
}

div.makdae>div.makdae_bar1{
    width: 95%;
    height:5px;
    background-color: #fff;
}

div.makdae>div.makdae_bar2{
    width: 90%;
    height:5px;
    background-color: #fff;
}

div.makdae>div.makdae_bar3{
    width: 70%;
    height:5px;
    background-color: #fff;
}

div.makdae>div.makdae_bar4{
    width: 70%;
    height:5px;
    background-color: #fff;
}

div.makdae>div.makdae_bar5{
    width: 50%;
    height:5px;
    background-color: #fff;
}

div.makdae>div.makdae_bar6{
    width: 80%;
    height:5px;
    background-color: #fff;
}

div.makdae>div.makdae_bar7{
    width: 75%;
    height:5px;
    background-color: #fff;
}

/* box04 */
#box04>div.works{
    width: 70%;
}

.content{
    padding:50px;
    text-align: center;
    display: flex;
}

.content dl{
    margin-left: 30px;
}

.content img{
    width: 60%;
}

.content dl>dt{
    font: bold 25px/ 30px 'Gothic A1', sans-serif;
    color:hotpink;
    margin-bottom:40px;
}

.content dl>dd{
    font: bold 15px/ 40px 'Gothic A1', sans-serif;
    text-align: left;
}

div.works>a{
    display: inline-block;
    border:1px solid yellow;
    background-color: yellow;
    border-radius: 10px;
    color:#333;
    padding:5px;
    font-size: 10px;
    text-align: right;
    margin-left: 90%;
}

/* box05 */
#box05{
color:#fff;
text-align:center;
}

#box05>p.title{
    margin-bottom:50px;
    font-size: 16px;
    font-family: 'Gothic A1', sans-serif;
}

div.form{
    width: 40%;
    margin:0 auto;
}

div.form>form>fieldset{
    border:3px solid #fff;
    padding:20px;
    box-sizing: border-box;
    margin:0 auto;
    border-radius: 10%;
}

div.form>form>fieldset>ul>li{
margin-bottom:30px;
display:flex;
}

div.form>form>fieldset>ul>li>label{
    margin:0 50px;
    width: 80px;
    font-size: 14px;
    padding:10px;
    box-sizing: border-box;
    border-bottom:1px solid #fff;
    font-family: 'Gugi', cursive;
}

div.form>form>fieldset>ul>li>input{
border:none;
border-radius:5px;
text-indent:15px;
}

div.form>form>fieldset>ul>li>textarea{
height:70px;
border:none;
border-radius:5px;
text-indent:15px;
}

::placeholder{
    font-family: sans-serif;}

div.form>form>fieldset>p{
    width:80px;
    margin:0 auto;
}

p.submit_btn>input{
    border:transparent;
    background-color:#fff;
    font-size: 16px;
    padding:10px;
    border-radius: 10%;
    box-sizing: border-box;
    cursor: pointer;
}

p.submit_btn>input:hover{
    background-color:pink;}

/* footer */
footer{
padding:20px 0;
background-color: #333;
text-align: center;
color:#fff;
font-size:16px;
line-height:1;
}