@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

@keyframes wave {
	0%, 100% {
		clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
	}
	50% {
		clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
	}
}

@keyframes bounce-up-down {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(10%);
  }
}

@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  90% {
    transform: translate3d(0, -16%, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -32%, 0);
    opacity: 1;
  }
}

@keyframes lift {
  0% {
    transform:translate3d(0,0,0);
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: translate3d(0,-100vh,0);
    visibility: hidden;
    opacity: 1;
  }
}

body{background-color:#e8e3f9;}
img{max-width: 100%;}

section#page1, section#page2{
  width: 100vw;
  height: 100vh;}

section#page3, section#page4{width: 100vw;}
section#page4{ margin:100px 0;}

header{
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 300;
}

nav{background-color: transparent;}

.colorchange{
background-color: white;
box-shadow: 0px 0px 25px -5px #333;
}

nav>ul.navi{
  display:flex;
  justify-content:end;
  padding:15px 0;
}

ul.navi li{padding:0 25px;}

ul.navi>li>a{
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
}

ul.navi>li>a:hover{
  color:rgba(59, 115, 236,0.6);
  cursor:pointer;
}

/*  */
#container {
  display: flex;
  background: black;
  height: 100vh;
  width: 100vw;
  animation: lift 0.8s ease-in-out;
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
}

.typing {
  font-family: "Work Sans", sans-serif;
	letter-spacing: 10px;
	background: black;
	display: flex;	
	height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
}

.typing> h2 {
	font-size: 60px;
	position: absolute;
}

.border {
	color: black;
  text-shadow:
    -1px -1px 0 white, 
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;  
}

.wave {
	color: white;
	animation: wave 3s ease-in-out infinite;
}

.two {transform: translateY(0.8em);}
.three {transform: translateY(-0.8em);}

main{
  width:98%;
  position: relative;
  background-color:#e8e3f9;
}
/* 1. home */
div#Home{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-top:100px;
}

.home_title{margin:50px;}

.home_title>span{
  font-size: 5rem;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  background:linear-gradient(-154deg,#fca6c6 20%, #f6af97 60%, #3b73ec 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span.hangul{
  font-size: 20px;
  line-height: 80px;
  font-family: 'Gothic A1', sans-serif;
}

div.home_image{width: 400px;}

.home_image>figure>img{
  animation-name: bounce-up-down;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

div.seemywork{text-align: center;}

.home_btn{
  width: 10%;
  border-radius: 12px;
  border: 1px solid transparent;
  background-color: #3b73ec;
  color:#fff;
  padding:20px 0;
  font-size: 16px;
}

.home_btn:hover{
  cursor:pointer;
  background-color: #6890e4;
}

/* 2. profile */
div#Profile{
  width:70%;
  margin:10px auto;
  padding:30px;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.4);
  box-shadow: 3px 3px 3px;
  border-radius: 20px;
}

p.profile_bigtitle{
  text-align: center;
  font:bold 30px /50px "Work Sans", sans-serif;
  text-shadow: 3px 3px 3px gray;
}

.profile_smalltitle{
  text-align: center;
  padding-bottom:20px;
}

.profile_smalltitle>p{
  font-size: 3rem;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  background:linear-gradient(-154deg,#fca6c6 20%, #f6af97 60%, #3b73ec 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div#Profile_info{
  margin:10px 40px;
  display: flex;
  justify-content: space-evenly;
}

/* div.profile_left{} */

figure.selfie{
  width:200px;
  border:10px solid #f6af97;
  border-radius: 100%;
  margin-right:20px;
}

div.profile_info{
  font-size: 18px;
  padding:0 20px;
  font-family: 'Gothic A1', sans-serif;
}

div.profile_info>span.bold{
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
  line-height: 40px;
  margin-right:10px;
}

div.profile_say{
  margin-top:30px;
}

div.profile_say>span{
  font-family: 'Gothic A1', sans-serif;
  line-height: 2;
  font-size: 18px;
  line-height: 30px;
}

div.profile_say>span.highlight{
  background:linear-gradient(-154deg,#fca6c6 20%, #f6af97 60%, #3b73ec 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

div.skill_title{
  font-size: 25px;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
  padding: 30px 0;
  text-align: center;
  text-shadow: 3px 3px 3px gray;

}

div.skill_info{
  display:flex;
  justify-content: space-evenly;
}

figure>figcaption>p{
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

/* 3. work */
div#Work{
  width:70%;
  margin:10px auto;
}

p.work_title{
  text-align: center;
  font:bold 30px /50px "Work Sans", sans-serif;
  text-shadow: 3px 3px 3px gray;
}

div.work01,div.work02,div.work03{
  display:flex;
  justify-content: space-between;
  padding:30px;
  margin:30px 0;
  box-sizing: content-box;
  background-color: rgba(255,255,255,0.4);
  box-shadow: 3px 3px 3px;
  border-radius: 20px;
}

div.work01>figure,div.work02>figure,div.work03>figure{width:50%;}

div.right{width:45%;}

div.right_title{
  font: bold 25px / 50px 'Gothic A1', sans-serif;}

div.right_info>p{
  font: normal 16px /2.5 "Work Sans", sans-serif;}

div.right_info>div.linkBtn{
  padding:20px 0;
  text-align: end;
}

div.linkBtn button{
  border:2px solid #f6af97;
  background-color: #f6af97;
  border-radius: 50px;
}

div.linkBtn>button:hover{
background-color: #f3cfc3;
border:2px solid #f3cfc3;
cursor: pointer;
}

div.linkBtn>button>a{
  text-decoration: none;
  line-height: 3;
  font-family: 'Gothic A1',serif;
  color:#fff;
}

/* 4. contact */
p.contact_title{
    text-align: center;
    font:bold 30px /50px "Work Sans", sans-serif;
    text-shadow: 3px 3px 3px gray;
  }

div#Contact{
  position: relative;
  width:50%;
  margin:10px auto;
  padding:30px;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.4);
  /* background-color: #f1d4ca; */
  box-shadow: 3px 3px 3px;
  border-radius: 20px;
  z-index: 5;
}

div#Contact>figure{
  width: 25%;
  left:-10%; top:-10%;
  position: absolute;
}

div.contact_back{
  position: absolute;
  left:40%; top:15%;
  width:20%;
  border:3px solid #f19d81;
  border-radius: 50px;
  z-index: -5;
}

div.contact_front{
  width: 50%;
  margin: 0 auto;
  z-index: 10;
}

div.contact_front>ul>li{
  background-color:#f6af97;
  box-shadow: 3px 3px 3px;
  border-radius: 20px;
  margin:20px auto;
  font: bold 18px/ 40px "Work Sans", sans-serif;
  text-align: center;
}


/* footer */
footer{
  width: 100%;
  background-color: #ccbefc;
}

footer>div{
  padding:20px 0;
}

footer>div>p{
  text-align: center;
  font-size: 12px;
  color:gray;
}